.container {
  margin-left: 50px;
}

.title {
  font-size: 24px;
  font-family: Calibri, sans-serif;
  font-weight: bold;
}

.formBody {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.recipeName {
  font-size: 17px;
  padding: 4px 45px 4px 2px;
  border-radius: 5px;
}

.recipeNameError {
  height: 19px;
}

input::placeholder {
  font-style: italic;
}

label {
  font-size: 18px;
  font-family: Calibri, sans-serif;
  font-weight: 600;
  margin: 10px 0 5px 0;
}

.description {
  font-size: 18px;
  padding: 0 0 0 2px;
  border-radius: 5px;
}

.descriptionError {
  height: 19px;
}

.description::placeholder {
  font-style: italic;
}

.fieldLengthAlert {
  height: 19px;
}

.saveButton {
  padding: 7px 8px;
  margin-top: 15px;
}

.listBody {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
